a.active {
    background:white;
    box-shadow: 0 0 0 3px #fea;
    border-color: #fb1;
    color: #fb1;
}

a.active:hover, a.active:focus {
    background:white;
    box-shadow: 0 0 0 3px #fea;
    border-color: #fb1;
}

a.active svg > * {
    fill: #fb1;
}

@media screen and (max-width: 40rem){
    a.active {
        background:none;
        box-shadow: none;
        border: none;  
        border-bottom: 1px solid #eee;
        color: black;
    }
    
    a.active:hover, a.active:focus {
        background:none;
        box-shadow: none;
        border: none;  
        border-bottom: 1px solid #eee;
        color: black;
    }
    
    a.active svg > * {
        fill: black;
    }   
} 